#top {
    margin-left: 250px;
    margin-top: 27px;
}
#top :first-child {
float:left;
}
#top li :nth-child(2) {
float: left;
padding-top: 37px;
padding-bottom: 5px;
position: relative; right: 60px;
}
li h1 {
    padding-top: 8px;
    padding-left: 5px;
    margin-bottom: 1px;
}
#media {
    float: right;
    display: flex;
    margin-right: 200px;

}
#chocolate-pizza {
    position: absolute;
    left:360px ;
    top: 100px;

}

#headshot {
    position: absolute;
    left:360px ;
    top: 100px;
}

#list {
    position: absolute;
    left:22px;
    top: 757px;
}